@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 500px;
}


.yes{
    font-family: 'poppins';
    display: flex;
    text-align: center;
    justify-content: center;
}
h1{
    color: rgb(241, 14, 146);
    font-family: 'poppins';
    font-weight: 800;
}

h3{
    font-family: 'poppins';
    font-weight: 500;

}

button{
    height: 40px;
    width: 110px;
    display: inline;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgb(2, 162, 144);
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid rgb(55, 167, 177);
    box-sizing: border-box;
    filter: drop-shadow(2px 5px 4px black);
    

}
.no{
    height: 40px;
    width: 110px;
    color: white;
    background-color: rgb(255, 0, 0);
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid rgb(255, 16, 16);
    filter: drop-shadow(2px 5px 4px black);
}

.when{
    background-color: yellow;
    color: black;
    width: 150px;
    border: 2px solid rgb(228, 228, 50);

}

.when a{
    text-decoration: none;
    color: black;
}

span{
    text-align: center;
    font-size: 18px;
    font-family: 'poppins';
    font-weight: 500;

}
.name{
    display: flex;
    position: absolute;
    top: 15px;
    font-style: italic;
    font-size: 10px;
}